.container
{
width:100%;
height:98vh;
display:flex;
align-items:center;
justify-content:center;
background-color:#003B73;
margin:0px;
padding:0%;
border:0px;
}
h1{
font-size:25px;
}
#main
{
justify-content:center;
text-align:center;
border:2px solid #050A30;
height:60vh;
border-radius:2%;
width:300px;
margin-top:2vh;
background-color:#ffe6a3;
}
#heading{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight:lighter;
}
.text
{
margin:6vh 0vh 1vh 1vh;
font-size: larger;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#box
{   
justify-content:center;
text-align:start;
align-items:center;
font-size: small;
}
#inbox,#outbox
{
margin-left:0.5vh;
width:96%;
border:0.5vh solid #050A30;
outline:0px;
height:30px;
border-radius:1em;
font-size:1.2rem;
font-weight:bolder;
color: black;
background-color:whitesmoke;
}
.dropdown
{
margin-top:3vh;
text-align: start;
display:flex;
justify-content:center;
align-items:center;
}
.select-container
{
display:flex;
}
#textfrom,#textto
{
margin-bottom:0px;
margin-top:5vh;
}
.select-container img
{
max-width:2.5rem;
}
#first
{
margin-right:4vw;
}
#sign
{
margin-top: 6vh;
margin-right:2vh;
max-width: 2rem;
}
#second
{
margin-left:4vh;
}
.select-container select
{
border:0px;
background-color:#050A30;
height:4vh;
outline:0px;
color:#ffe6a3;
align-self:center;
}